.buttonPrev,
.buttonNext {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 30px; 
    height: 30px; 
    display: flex; 
    cursor: pointer; 
    z-index: 1;
}

.buttonPrev {
    left: 10px; 
}

.buttonNext {
    right: 10px; 
}

.containerCarousel{
    max-width: 100%;
}