.containerCard {
    width: 18.75rem;
}

.containerImg {
    border-radius: 0.938rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: monospace;
    font-size: 0.875rem;
    text-transform: capitalize;
}

.name {
    height: 2.188rem;
}

.price {
    color: black;
    font-size: 1.125rem;
    font-family: 'Roboto';
}

.heart {
    position: relative;
    bottom: 1.25rem;
    left: 16.875rem;
}

.hrr {
    width: 12.5rem;
    margin-top: 1.563rem;
    margin-bottom: 1.375rem;
    height: 0.063rem;
    border: none;
    background-image: linear-gradient(to right, transparent, #000, transparent);
    background-size: 100% 0.125rem;
}
