.containerMain {
    display: flex;
    flex-direction: column;
    margin-top: 8.5625rem;
}

.conjTitulo {
    font-family: "Pt Serif";
    text-align: center;
}

.titulo {
    font-size: 1.563rem;
    line-height: 0.0625rem;
    letter-spacing: 0.075rem;
}

.subTitulo {
    font-size: 0.875rem;
}

.conjTitulo hr {
    width: 12.5rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.375rem;
    height: 0.0625rem;
    border: none;
    background-image: linear-gradient(to right, transparent, #000, transparent);
    background-size: 100% 0.125rem;
}
