.containerBanner1 {
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
}

.containerBanner {
  display: flex;
  justify-content: space-between;
  height: 21.875rem;
  width: 100vw;
  background-color: #F4FAFF;
}

.bannerHomeLeft {
  border-radius: 3.125rem 0rem 0rem 87.5rem;
}

.bannerHomeRight {
  border-radius: 0rem 3.125rem 87.5rem 0rem;
}

.textBanner {
  display: flex;
  flex-direction: column;
  font-family: 'Marissa';
  line-height: 4.25rem;
  justify-content: center;
}

.brilhe {
  font-size: 3.75rem;
  color: black;
  line-height: 3.4375rem;
}

.com {
  font-size: 4.375rem;
  color: #CF995F;
}

.essencia {
  font-size: 5rem;
  color: black;
}

.elegancia {
  font-size: 3.75rem;
  color: #CF995F;
}

.verdadeira {
  font-size: 5rem;
  color: black;
}
